.signup {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    padding: 2rem;
    /*background-image:url("C:\Users\Srilekha\Desktop\ChatMates\client\src\images\img1.png");*/
    background: #a8c4cf; 
  }
  